{% extends 'base/index.html.twig' %}
{% block edit %}

{% block title %}Hello modifQuack!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Modifier un quack ✅</h1>
        {{ form_start(form) }}
        <div class="card form-group">
            <label for="">Content</label>
            {{ form_widget(form.content) }}
            <label for="">Path image</label>
            {{ form_widget(form.image) }}
        </div>
            <button type="submit" class="btn btn-sucess">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% endblock %}